<app-headercomponent></app-headercomponent>

<main>
    <h2>
        {{freetrialsignup}}
    </h2>
    <h3>
        {{getstarted}}
    </h3>

    <form class="inputsform" >
        <input type="text" placeholder="{{companyname}}" name="companyname" id="companyname">
        <input type="text" placeholder="{{segmnt}}" name="segmnt" id="segmnt">
        <input type="number" placeholder="{{numberofusers}}*" name="numberofusers" id="numberofusers">
        <p>{{howmany}}</p>
        <input type="text" placeholder="{{fullname}}" name="fullname" id="fullname">
        <input type="email" placeholder="{{email}}" name="email" id="email">
        <input type="text" placeholder="{{telephone}}" name="telephone" id="telephone">
        <input type="password" placeholder="{{password}}" name="password" id="Password">
        <a [routerLink]="['/thankyou']">
            <button type="submit">
                {{buttonsignup}}
            </button>
        </a>
    </form>
</main>

<app-footercomponent></app-footercomponent>