<app-headercomponent></app-headercomponent>

<main>
    <h2>
        Free-Trial Sign Up
    </h2>
    <h3>
        Get started and experience Conneqt today.
    </h3>

    <div class="inputsform">
        <input type="text">
        <input type="text">
        <input type="text">
        <p>*How many devices would have Conneqt installed</p>
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
    </div>
    <button>
        Sign Up And Try For Free
    </button>
</main>

<app-footercomponent></app-footercomponent>