<header class="header" role="banner" style="margin:0;padding:0;">
    <nav>
        <a [routerLink]="['/']">
            <img src="../../assets/logoconneqt.jpg" alt="">
        </a>
        <div class="buttons-login">
            <a [routerLink]="['/signup']">
                <button class="buttonSingup">
                    Sign Up For A Free Trial
                </button>
            </a>

            <button class="buttonLogin">
                Login
            </button>
        </div>
    </nav>

</header>