
.header{
    
    width: 100%;
    min-height: 65px;
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-top: 50px;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2%;
    margin-left: 1%;
}
.buttons-login{
    min-width: 280px;
    display: flex;
    justify-content: space-between;
}
.buttons-login button:hover{
    cursor:pointer;
    opacity: 0.8;
    transition: 0.3s;
}
.buttonLogin{
    min-height: 30px;
    border-radius: 5em;
    font-size: 1em;
    font-weight: 500;
    min-width: 60px;
    background-color: #FFFF;
    color: #F84E3F;
    border: 0.5px solid #DDDD;
}

@media screen and (max-width:1000px){
    nav{
        justify-content: center;
        height: 10%;
        align-items: center;
        text-align: center;
    }
    nav a img{
        height: 180px;
        width: 350px;
    }
    .buttons-login{
        display: none;
        visibility: hidden;
    }
} 