footer{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    background-color: #FD4D46;
    height: 45vh;
    color: #FFF;
}
footer h3{
    font-weight: 600;
}
.footertext1{
    width: 25%;
    margin-right: -5%;
}
.footertext1 p{
    padding-top: 2.5%;
    font-size: 1.3em;
    width: 90%;
    text-align: left;
}
footer p:hover, footer h3:hover{
    color: rgb(133, 133, 133);
    cursor: pointer;
    transition: 0.3s;
}

@media screen and (max-width:1000px){
    footer{
        display: block;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        min-height: 1400px;
    }
    .footertext1{
        width: 100%;
        margin-bottom: 120px;
    }
    .footertext1 p{
        margin: 0 auto;
        padding-top: 2.5%;
        font-size: 2em;
        width: 51%;
        text-align: left;
    }
    .footertext2 h3, .footertext3 h3, .footertext4 h3{
        font-size: 2.5em;
        font-weight: 400;
    }
    .footertext2 p, .footertext3 p, .footertext4 p{
        font-size: 2em;
    }
    .conneqtred{
        height: 110px;
    }
} 