<footer>
    <div class="footertext1">
        <img src="" alt="">
        <img class="conneqtred" src="../../assets/conneqtred.jpg" alt="">
        <p>
            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.
        </p>
    </div>
    <div class="footertext2"> 
        <h3>
            Important Links
        </h3>
        <p>About Us</p>
        <p>Support</p>
        <p>Contact Us</p>
        <p>Our Products</p>
        <p>Payment Methods</p>
    </div>
    <div class="footertext3">
        <h3>
            Useful Links
        </h3>
        <p>
            Cases
        </p>
        <p>
            White Papers
        </p>
        <p>
            FAQ
        </p>
        <p>
            Blog
        </p>
    </div>
    <div class="footertext4">
        <h3>Get in Touch</h3>
        <p>
            Email: contact@conneqt.com
        </p>
        <p>
            Phone: 469-844-8261
        </p>
    </div>
</footer>