<footer>
    <div class="footertext1">
        <img src="" alt="">
        <img class="conneqtred" src="../../assets/conneqtred.jpg" alt="">
        <p>
            {{textobasico}}
        </p>
    </div>
    <div class="footertext2"> 
        <h3>
            {{importantlinks}}
        </h3>
        <p *ngFor='let row of importantlinksarray'>{{row}}</p>
    </div>
    <div class="footertext3">
        <h3>
            {{usefullinks}}
        </h3>
        <p *ngFor="let row of usefullinksarray">
            {{row}}
        </p>
    </div>
    <div class="footertext4">
        <h3>{{getintouch}}</h3>
        <p *ngFor="let row of getintoucharray">
            {{row}}
        </p>
    </div>
</footer>