<main>
    <div class="maincontainer">
        <div class="divmain">
            <div class="weareconneqt">
                <p>Making distances a meaningless thing.</p>
                <h1>We are <span>conneqt</span></h1>
                <button class="buttonSingup buttonleft">
                    Sign Up For A Free Trial
                </button>
            </div>
            <img class="imagemmain" src="../../assets/mulhernotebook.jpg" alt="">

        </div>
        <div class="containersection">
            <section>
            <img class="imgtv" src="../../assets/imgtv.jpg" alt="">
                <div class="textconnected">
                    <header>
                        <h2>Your team aways connected</h2>
                    </header>
                    <main>
                            <p><img style="margin-bottom: -8px;" src="../../assets/checked.jpg" alt=""> One on one and group meetings</p>
                            <p><img style="margin-bottom: -8px;" src="../../assets/checked.jpg" alt=""> Record Meetings</p>
                            <p><img style="margin-bottom: -8px;" src="../../assets/checked.jpg" alt=""> Screen share</p>
                            <p><img style="margin-bottom: -8px;" src="../../assets/checked.jpg" alt=""> Share control over screens</p>
                            <p><img style="margin-bottom: -8px;" src="../../assets/checked.jpg" alt=""> Schedule and send remindes</p>
                    </main>
                </div>
            </section>
        </div>
    </div>
    <div class="getafreetrialcontainer">
        <h2>Get a free trial</h2>
        <p>See how Conneqt can solve your communication needs.</p>
        <p style="margin-top: 5px;">Start a trial now</p>
        <button class="buttonSingup"> Sign Up For a Free Trial</button>
    </div>
    <div class="orpurchasealicensecontainer">
        <h2>Or purchase a license</h2>
        <p>Contact your local reseller to request a license trial or purchase Conneqt</p>
        <p style="margin-top: 40px;">Global Reseller</p>
        <div class="resellercontainer">
            <div class="titlereseller">
                <p>John Appleseed - Authorized Reseller</p>
            </div>
            <div class="companywebsitetef">
                <div>
                    <p>Company Website</p><img style="width: 40px; position: relative; bottom: 2px;"src="../../assets/enviar.jpg" alt="">
                </div>
                <div>
                    <img src="../../assets/telefone.jpg"style="width: 33px;" alt=""><p> 469-844-8261</p>
                </div>
            </div>
        </div>

        <p style="margin-top: 40px; margin-bottom: 35px;">Brazil</p>
        <div class="resellercontainer">
            
            <div class="titlereseller">
                <p>Ultratech Revendedora</p>
            </div>
            <div class="companywebsitetef">
                <div>
                    <p>Company Website</p><img style="width: 40px; position: relative; bottom: 2px;"src="../../assets/enviar.jpg" alt="">
                </div>
                <div>
                    <img src="../../assets/telefone.jpg"style="width: 33px;" alt=""><p> 469-844-8261</p>
                </div>
            </div>

            
        </div>

        <div class="resellercontainer">
            
            <div class="titlereseller">
                <p>BlueFin</p>
            </div>
            <div class="companywebsitetef">
                <div>
                    <p>Company Website</p><img style="width: 40px; position: relative; bottom: 2px;"src="../../assets/enviar.jpg" alt="">
                </div>
                <div>
                    <img src="../../assets/telefone.jpg"style="width: 33px;" alt=""><p> 469-844-8261</p>
                </div>
            </div>

            
        </div>
        <div class="resellercontainer">
            
            <div class="titlereseller">
                <p>Gold Comm Sistema</p>
            </div>
            <div class="companywebsitetef">
                <div>
                    <p>Company Website</p><img style="width: 40px; position: relative; bottom: 2px;"src="../../assets/enviar.jpg" alt="">
                </div>
                <div>
                    <img src="../../assets/telefone.jpg"style="width: 33px;" alt=""><p> 469-844-8261</p>
                </div>
            </div>

            
        </div>
        <div class="resellercontainer">
            
            <div class="titlereseller">
                <p>Centraltek</p>
            </div>
            <div class="companywebsitetef">
                <div>
                    <p>Company Website</p><img style="width: 40px; position: relative; bottom: 2px;"src="../../assets/enviar.jpg" alt="">
                </div>
                <div>
                    <img src="../../assets/telefone.jpg"style="width: 33px;" alt=""><p> 469-844-8261</p>
                </div>
            </div>
            
        </div>


    </div>
</main>
