<main>
    <div class="maincontainer">
        <div class="divmain">
            <div class="weareconneqt">
                <p>{{makingdistances}}</p>
                <h1>{{weare}}<span>{{conneqt}}</span></h1>
                <a [routerLink]="['/signup']">
                    <app-buttonsignup></app-buttonsignup>
                </a>

            </div>
            <img class="imagemmain" src="../../assets/mulhernotebook.jpg" alt="">

        </div>
        <div class="containersection">
            <section>
            <img class="imgtv" src="../../assets/imgtv.jpg" alt="">
                <div class="textconnected">
                    <header>
                        <h2>{{youteam}}</h2>
                    </header>
                    <main *ngFor="let row of yourteamarray">
                        <p><img style="margin-bottom: -8px;" src="../../assets/checked.jpg" alt="">{{row}}</p>
                    </main>
                </div>
            </section>
        </div>
    </div>
    <div class="getafreetrialcontainer">
        <h2>{{getafreetrial}}</h2>
        <p>{{seehowconneqt}}</p>
        <p style="margin-top: 5px; padding-bottom: 20px;">{{startatrialnow}}</p>
        <a [routerLink]="['/signup']">
            <app-buttonsignup></app-buttonsignup>
        </a>

    </div>
    <div class="orpurchasealicensecontainer">
        <h2>{{orpurchasealicenca}}</h2>
        <p>{{contactyourlocal}}</p>
        <p style="margin-top: 40px;">{{globalreseller}}</p>
        <div class="resellercontainer">
            <div class="titlereseller">
                <p>{{authorizedreseller}}</p>
            </div>
            <div class="companywebsitetef">
                <div>
                    <p class="companywebsite">{{companywebsite}}</p><img style="width: 40px; position: relative; bottom: 2px;"src="../../assets/enviar.jpg" alt="">
                </div>
                <div>
                    <img src="../../assets/telefone.jpg"style="width: 33px;" alt=""><p> {{tef}}</p>
                </div>
            </div>
        </div>

        <p style="margin-top: 40px; margin-bottom: 35px;">{{brazil}}</p>
        <div class="resellercontainer" *ngFor="let reseller of brazilresellers">
            <div class="titlereseller">
                <p>{{reseller}}</p>
            </div>
            <div class="companywebsitetef">
                <div>
                    <p class="companywebsite">{{companywebsite}}</p><img style="width: 40px; position: relative; bottom: 2px;"src="../../assets/enviar.jpg" alt="">
                </div>
                <div>
                    <img src="../../assets/telefone.jpg"style="width: 33px;" alt=""><p> {{tef}}</p>
                </div>
            </div>
            
        </div>

    </div>
</main>

