.imagemmain{
    width: 50vw;
    height: 80vh;
}
.maincontainer{
    width: 100%;
}
.containersection{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
.imgtv{
    width: 40%;
}
.containersection section{
    min-height: 70vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.textconnected{
    min-width: 40%;
    min-height: 90%;
}
.textconnected h2{
    padding-left: 5%;
    font-size: 2.5em;
    font-weight: 200;
}
.textconnected p{
    padding-left: 5%;
    font-size: 1.5em;
    font-weight: 200;
}
.main p img{
    height: 50px;
    width: 50px;
    margin-top: 15px;
}
.getafreetrialcontainer{
    background-color: #F2F1ED;
    min-height: 60vh;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    line-height: 0;
}
.getafreetrialcontainer h2{
    font-size: 3.5em;
    font-weight: 400;
    margin-bottom: 5%;
    background-color: red;
}
.getafreetrialcontainer p{
    font-size: 1.4em;
    font-weight: 500;
    line-height: -5;
}
.orpurchasealicensecontainer{
    padding-top: 10px;
    height: 130vh;
    background-color: #FFF;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    line-height: 0;
}
.orpurchasealicensecontainer h2{
    font-size: 2.5em;
    font-weight: 200;
    margin-bottom: 5%;
}
.orpurchasealicensecontainer p{
    font-size: 1.4em;
    font-weight: 500;
    line-height: -5;
}
.resellercontainer{
    font-size: 0.9em;
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    min-height: 60px;
    margin: 0 auto;
    border: 1px solid rgb(83, 83, 83);
    margin-bottom: 1.5px;
}
.resellercontainer:hover{
    transform: translateX(5px);
    transition: 0.1s ease-in-out;
    cursor: pointer;
}
.companywebsitetef{
    width: 48%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.companywebsitetef div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.divmain{
    display: flex;
    justify-content: space-around;
    background-color: #F2F1EE;
}
.weareconneqt{
    width: 40%;
    align-items: center;
    margin: 0 auto;
    padding-top: 10%;
}
.weareconneqt p{
    font-size: 1.5em;
    font-weight: 500;
}
.weareconneqt h1{
    font-size: 4.5em;
    width: 120%;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}
.weareconneqt h1 span, .companywebsite, .weareconneqthidden h1 span{
    color: #F84E3F;
}
.weareconneqthidden{
    visibility: hidden;
}
.buttonLogin{
    font-size: 2.2em;
    width: 400px;
    min-height: 60px;
    margin: 0 auto;
    border-radius: 5em;
    font-weight: 500;
    min-width: 60px;
    background-color: #FFFF;
    color: #F84E3F;
    border: 0.5px solid #DDDD;
    margin-bottom: 20px;
}
.brazil{
    margin-bottom: 35px;
}
.globalreseller, .brazil, .weareconneqthidden{
    margin-top: 40px; 

}
.orpurchasealicensecontainerhidden, .imgenviarhidden, .minitexthidden{
    display: none;
}
@media screen and (max-width:1000px){
    .divmain{
        justify-content: center;
    }
    .imagemmain{
        width: 100%;
        height: 100%;
    }
    .weareconneqt,.imgtv,.weareconneqthidden, .minitext, .orpurchasealicensecontainer{
        display: none;
    }
    .weareconneqthidden, .globalresellerhidden, .textconnected header h2, .orpurchasealicensecontainerhidden, .orpurchasealicensecontainerhidden h2{
        text-align: center;
        align-items: center;
    }
    .weareconneqt{
        visibility: hidden;
    }
    .weareconneqthidden{
        display: block;
        visibility:initial;
        padding-top: 50px;
        margin: 0 auto;
        height: 500px;
        background-color: #F2F1EE;
    }
    .textconnected{
        min-height: 45vh;
        width: 100%;
    }
    .textconnected header h2{
        font-size: 5em;
    }
    .textconnected main p{
        font-size: 3em;
        padding-left: 100px;
        padding-bottom: 25px;
    }
    .textconnected main p img{
        height: 60px;
        width: 70px;
        position: relative;
        top: 5px;
        right: 20px;
    }
    .containersection section{
        min-height: 25vh;
    }
    .weareconneqthidden p{
        font-size: 2.8em;
        font-weight: 500;
    }
    .weareconneqthidden h1{
        font-size: 6em;
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .buttonsdivhidden{
        margin: 0 auto;
        width:100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        line-height: 0;
        height: 50%;
    }
    .getafreetrialcontainer{
        min-height: 600px;
    }
    .getafreetrialcontainer h2{
        font-size: 5em;
        margin-bottom: 80px;
        font-weight: 500;
    }
    .getafreetrialcontainer p{
        font-size: 3em;
        font-weight: 300;

    }
    .minitexthidden{
        display: block;
    }
    .orpurchasealicensecontainerhidden{
        display: block;
        margin: 0 auto;
        height: 1100px;
        padding-top: 60px;
    }
    .orpurchasealicensecontainerhidden h2{
        font-size: 4em;
        font-weight: 500;
    }
    .globalresellerhidden{
        margin: 0 auto;
        font-size: 3em;
    }
    .resellercontainerhidden{
        display: flex;
        justify-content: space-between;
        font-size: 2em;
        font-weight: 500;
        width: 70%;
        margin: 0 auto;
        color: #F84E3F;
    }
    .imgenviar{
        width: 100px; 
        padding-top: 20px;
    }
    .titleresellerhidden{
        text-align: left;
        font-size: 1.5em;
    }
    .communicationneeds{
        margin-bottom: 100px;
    }
} 